{% extends "base.html" %} {% block content %}

<div style="width: 50%; height: 500px; margin: auto" class="pt-5">
  <h3>Movie Rating Form</h3>
  <form method="POST" action="/about/">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputName"
        aria-describedby="nameHelp"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail"
        aria-describedby="emailHelp"
        name="email"
      />
    </div>
    <div>
      <select
        class="form-select"
        aria-label="Default select example"
        name="select"
      >
        <option selected>Ratings</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

{% endblock content %}
