<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/sample_app/">Home</a></h1>
    <h1><a href="/sample_app/contact/">Contact</a></h1>
    <h1><a href="/sample_app/about/">About</a></h1>
    <h1><a href="/sample_app/filter/">Filter</a></h1>
    <h1>This Is ABOUT Page</h1>
    <br>
    <br>
    <br>
    <i><h1>Django makes it easier to build better web apps more quickly and with less code.</h1></i>
</body>
</html>