<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/sample_app/">Home</a></h1>
    <h1><a href="/sample_app/contact/">Contact</a></h1>
    <h1><a href="/sample_app/about/">About</a></h1>
    <h1><a href="/sample_app/filter/">Filter</a></h1>
    <h1>This Is HOME Page</h1>
    <br>
    <br>
    <br>
    <h1>My Name Is Django</h1>
    <h1>Meet Django
        Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</h1>
</body>
</html>