{% extends "base.html" %} {% block content %} {% load static %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <th scope="row">{{i.userId}}</th>
      <td>{{i.id}}</td>
      <td>{{i.title}}</td>
      <td>{{i.body}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h1>This is APP page</h1>
<img src="{% static 'images/bird_3.jpeg' %}" alt="image" />

{% endblock content %}
