{% extends "base.html" %} 
{% load static %} 
{% block content %}

<div class="">
  <div class="text-center">
    <br>
    <h1><<------ FOOD PARK ------>></h1>
    <br>
  </div>
  <div class="text-center">
    <img class="w-50 h-75 " src="{% static 'image/res.jpg' %}" alt="image">
    
  </div>
  <div>
    <br>
    <h4>
      Welcome to Food Park , where culinary excellence meets warm hospitality. Our story is one of passion, dedication, and a commitment to delivering an exceptional dining experience to our cherished guests.
      Our Journey
      
      At Food Park, our journey began with a simple yet profound vision – to create a haven for food enthusiasts, a place where flavors come alive, and memories are made. Established in 1835, we embarked on this culinary adventure with the aim of offering a unique blend of delectable cuisine, inviting ambiance, and impeccable service.
    </h4>
    <br>
  </div>
</div>

{% endblock content %}